body {
    font-family: arial;
    font-size: 80%;
    line-height: 1.2em;
    width: 100%;
    margin: 0;
    background: #eee;
}


div{
    border:2px solid;
    border-radius:25px;
}

#beforeGame {
    visibility: hidden;
}

#nameUser {
width: 250px;
height: 25px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

#game {
    box-shadow: 0px 6px 6px 6px #888888;
    width: 650px;
    height: 650px;
    margin: auto;
    background-color: #3333BE;
    background-image: images/bgAttempt.jpg;
    position: relative;
}

#game div {
background-color: black;
color: white;
font-size: 16px;

}

#game #scoreBoard {
 position: absolute;
 top: 10px;
 right: 10px;
 width: 130px;
 height: 260px;
 line-height: 1.07;
 font-size: 15px;
}

#game #questionAndAnswer {
    border: 0;
    margin-top: 40px;
}

#game #answer div {
    width: 45%;
    float: left;
    margin: 13px;
    margin-bottom: 2px;
}

#game #answer p {
   display: inline-block;
}

#game .answerConst {
    font-size: 18px;
    margin: inherit;
    color: orange;
}

#game #imageMilionaire {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}
