body {
    font-family: arial;
    font-size: 80%;
    line-height: 1.2em;
    width: 100%;
    margin: 0;
    background: #eee;
}


div{
    border:2px solid;
    border-radius:25px;
}

#game {
    box-shadow: 0px 6px 6px 6px #888888;
    width: 650px;
    height: 650px;
    margin: auto;
    background-color: #3333BE;
    position: relative;
}

#game div {
background-color: black;
color: white;
}

#scoreBoard {
 position: absolute;
 top: 10px;
 right: 10px;
 width: 130px;
 height: 300px;
}

#answer div {
    width: 45%;
    float: left;
    margin: 13px;
    margin-bottom: 2px;
}

#answer p {
   display: inline-block;
}

#imageMilionaire {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}
